@use '../utilities/bootstrap.scss';

.wrapper {
  width: 100%;
  overflow: hidden auto;

  @media screen and (min-width: 744px) {
    top: 0px;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 80px;
    border-radius: 16px;
    position: relative;
  }
}

.search__form {
  border-radius: 78px;
  background-color: transparent;

  @media screen and (min-width: 744px) {
    background-color: bootstrap.$default-color;
    position: relative;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    top: max(0px, 50% - 200px);
  }
}

.inner__padding {
  padding: 32px 32px 0 32px;

  @media screen and(min-width: 744px) {
    padding: 0px;
  }
}

.margin__container {
  margin-top: 32px;
  border-radius: 78px;
  transition: transform 0.6s ease 0s;
  overflow: hidden;
  transform: translateY(-94px);

  @media screen and (min-width: 744px) {
    padding: 0px;
    transform: translateY(0px);
  }
}

.inner__flex {
  position: relative;
  cursor: text;
  display: flex;
  height: 48px;
  width: 100%;
  margin: 0px;
  border: none;
  color: rgb(34, 34, 34);
  background-color: bootstrap.$default-color;
  align-items: center;
  padding: 12px 12px 12px 16px;
  border-radius: 78px;
  box-shadow: none;

  @media screen and (min-width: 744px) {
    border-radius: 16px;
    height: 68px;
  }
}

.svg__flex {
  display: flex;
  align-items: center;
  max-width: 50%;
  white-space: nowrap;
  margin-right: 8px;
  padding: 0px;
}

.svg__padding {
  @media screen and(min-width: 744px) {
    padding-left: 16px;
    padding-right: 8px;
  }
}

.label {
  position: relative;
  flex: 1 1 0%;
  padding: 0px;
}

.location__input {
  width: 100%;
  border: none;
  outline: none;
  margin: 0px 8px 0px 16px;
  min-height: 1px;
  color: rgb(34, 34, 34);
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  appearance: none;
  flex: 1 1 0%;
  padding: 0px;
  text-overflow: ellipsis;
}
