@use '../utilities/bootstrap.scss';

@include bootstrap.fade-mixin;

.amenities__container {
  margin-top: 24px;

  @media screen and (min-width: 744px) {
    margin-top: 0px;
  }
}

.amenities__section {
  margin-bottom: 40px;
}

.amenities__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding-left: 6px;
  animation-duration: 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-in;
}

.amenities__grid {
  display: flex;
  flex-flow: row wrap;
  margin-top: 24px;
}

.amenities__btn {
  background-color: bootstrap.$default-color;
  border: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-height: 68px;
  cursor: pointer;
  margin: 0px 6px 12px;
  flex: 0 1 calc(50% - 12px);
  padding-top: 12px;
  padding-bottom: 24px;
  outline: none;
  animation-duration: 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-in;

  @media screen and (min-width: 744px) {
    flex: 0 1 calc(33% - 16px);
    margin: 0px 8px 16px;

    &:hover {
      border-color: transparent;
      box-shadow: rgb(0 0 0) 0px 0px 0px 2px;
    }
  }
}

.svg__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;

  @media screen and (min-width: 744px) {
    height: 64px;
    width: 64px;
  }
}

.svg__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0px 20px;
}
