@use "../utilities/bootstrap.scss";

.header {
  height: 80px;
  box-shadow: rgb(235 235 235) 0 1px 0;
  padding-left: 24px;
}

.logo__link {
  align-items: center;
  display: inline-flex;
  height: 80px;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  color: bootstrap.$brand-color;

  &::before {
    border-radius: 12px;
    bottom: 8px;
    content: "";
    left: -8px;
    position: absolute;
    right: -8px;
    top: 8px;
  }
}

.icon {
  display: none;

  @media screen and (min-width: 1128px) {
    display: block;
  }
}

.icon__small {
  @media screen and (min-width: 1128px) {
    display: none;
  }
}

.main__height {
  position: relative;
  min-height: 100vh;
}

.page__font {
  color: bootstrap.$nero;
  font-size: 16px;
  line-height: 20px;
}

.pay__bottom {
  padding-bottom: 32px;
}

.header__padding {
  padding-top: 64px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link__padding {
  padding-right: 32px;
}

.back__link {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  border: none;
  color: bootstrap.$nero;
  touch-action: manipulation;
  position: relative;
  transition: transform 0.25s ease 0s;

  &:hover {
    color: bootstrap.$black;

    &::before {
      background: bootstrap.$whitesmoke;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.relative__color {
  position: relative;
}

.header__container {
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
}

.trip__side {
  position: relative;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}

.listing__side {
  position: relative;
  width: 41.6667%;
  margin-left: 8.33333%;
  margin-right: 0%;
}

.listing__sticky__card {
  position: sticky;
  top: 80px;
  z-index: 1;
  display: inline-block;
  width: 100%;
  padding-right: 1px;
}

.card__border {
  margin-bottom: 100px;

  @media screen and (min-width: 744px) {
    padding: 24px;
    border: 1px solid bootstrap.$gainsboro;
    border-radius: 12px;
  }
}

.listing__content__flex {
  display: flex;

  @media screen and (min-width: 744px) {
    padding-bottom: 8px;
  }
}

.image__container {
  width: 106px;
  height: 106px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;

  @media screen and (min-width: 744px) {
    width: 124px;
    height: 106px;
  }
}

.image__repeat {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  min-height: 1px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.listing__description__flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 16px;
}

.listing__subheading {
  font-size: 12px;
  line-height: 16px;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 744px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.listing__title {
  font-size: 14px;
  line-height: 18px;
  max-height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.listing__floorplan {
  margin-top: 4px;
  color: bootstrap.$dimgray;
  font-size: 12px;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 744px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.reviews__wrap {
  display: flex;
  flex-wrap: wrap;
}

.price__details__padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.price__details__header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  @media screen and(min-width: 744px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.table__display {
  display: table;
  border-spacing: 0;
  width: 100%;
}

.description__cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.price__cell {
  display: table-cell;
  vertical-align: middle;
}

.price__total {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  color: bootstrap.$dimgray;
  display: inline;

  @media screen and (min-width: 744px) {
    color: bootstrap.$nero;
  }
}

.currency__btn {
  user-select: auto;
  color: bootstrap.$nero;
  text-decoration: underline;
  border-radius: 4px;
  font-weight: 600;
}

.total__price {
  white-space: nowrap;
  color: bootstrap.$nero;
  margin: 0;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
}

.guests__count__flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.font__bold {
  font-weight: 800;
}

.guests__nr {
  margin-top: 8px;
  color: bootstrap.$dimgray;
  white-space: pre-wrap;
}

.required__flex {
  display: flex;
  align-items: baseline;
}

.required__divider {
  padding-top: 16px;
}

.message__host {
  font-weight: 600;
}

.host__info {
  white-space: pre-wrap;
  margin-top: 4px;
  font-size: 14px;
  line-height: 18px;
  color: bootstrap.$nero;
}

.host__profile__padding {
  font-size: 14px;
  line-height: 18px;
  color: bootstrap.$nero;
  padding: 16px 0 32px;
}

.host__profile__img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.host__profile__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
}

.host__joined {
  color: bootstrap.$dimgray;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
}

.message__area {
  box-shadow: bootstrap.$form-txt 0 0 0 1px inset;
  box-sizing: border-box;
  color: bootstrap.$nero;
  padding: 4px;
  border-radius: 8px;
}

.textarea {
  color: inherit;
  display: block;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border: none;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  appearance: none;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
