@use '../utilities/bootstrap.scss';

.main__wrapper {
  display: flex;
  justify-content: center;
}

.category__wrapper {
  display: flex;
  flex-direction: column;
}

.star__wrapper {
  display: flex;
  margin-bottom: 15px;
  max-width: 50%;
}

.star__input {
  display: none;
}

.star__category {
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.star__label {
  color: bootstrap.$dimgray;
  font-size: 3em;
  text-decoration: none;
  margin: 4px;
  position: relative;
}

.star {
  fill: currentColor;
  height: 26px;
  width: 26px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}

.star__selected {
  fill: bootstrap.$teal;
  height: 26px;
  width: 26px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}

.textarea {
  color: bootstrap.$nero;
  display: block;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border: 1px solid bootstrap.$form-txt;
  margin: 0px;
  box-sizing: border-box;
  background-color: transparent;
  appearance: none;
  resize: vertical;
  min-height: 144px;
  padding: 6px 10px;
  border-radius: 2px;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  overflow-y: hidden;
}

.submit__btn {
  display: inline-block;
  position: relative;
  text-align: center;
  border-color: bootstrap.$teal;
  width: auto;
  touch-action: manipulation;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  border: none;
  background: bootstrap.$teal;
  color: bootstrap.$default-color;

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
    border: none;
    background: bootstrap.$gainsboro;
    color: bootstrap.$default-color;
  }

  &:hover:enabled {
    border: none;
    background: bootstrap.$babu;
    color: bootstrap.$default-color;
  }
}
