@use '../utilities/bootstrap.scss';

@include bootstrap.opacity-mixin;

.inherit__div {
  color: #222222;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.display__div {
  display: none;

  @media screen and (min-width: 744px) {
    display: block;
  }
}

.room__section__flex {
  &::before {
    content: '';
    display: flex;
  }

  &::after {
    content: '';
    display: flex;
  }
}

.room__section__padding {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 0;
  margin-right: 0;

  @media screen and (min-width: 375px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (min-width: 744px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 950px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1128px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: 1440px) {
    max-width: none;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.room__section__margin {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1128px;
}

.room__section__top {
  padding-top: 24px;
}

.room__navbar__container {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px;
  background-color: bootstrap.$default-color;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 3;
  animation-name: opacity-appear;
  animation-duration: 100ms;
  animation-timing-function: ease-out;

  @media screen and (min-width: 744px) {
    height: 80px;
  }
}

.room__navbar__align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room__navbar__font {
  display: flex;
  color: rgb(113, 113, 113);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media screen and (min-width: 744px) {
    white-space: nowrap;
    overflow: hidden;
  }
}

.room__navbar__item {
  display: block;
  margin-right: 24px;
}

.room__navbar__btn {
  position: relative;
  touch-action: manipulation;
  border-radius: 8px;
  transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s;
  background: transparent;
  border: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

.btn__padding {
  color: rgb(34, 34, 34);
  font-weight: 600;
  padding: 30px 0px;
  display: inline-block;
  text-decoration: none;
  position: relative;

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    background-color: rgb(34, 34, 34);
    content: '';
    display: block;
    bottom: 0px;
    height: 4px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.15s ease 0s;
    width: 100%;
  }
}

.room__description__section {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 375px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (min-width: 744px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 950px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1128px) {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1280px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1280px;
  }
}

.description__side {
  position: relative;
  width: 58.333333333333336%;
  margin-left: 0%;
  margin-right: 0%;
}

.title__padding {
  padding-top: 48px;
  padding-bottom: 24px;
}

.title__profile__flex {
  display: flex;
}

.title__grow {
  flex: 0 1 100%;
}

.room__title {
  color: rgb(34, 34, 34);
  font-weight: 600;
  font-size: 16px;
  line-height: 20;
  margin-bottom: 8px;

  @media screen and (min-width: 744px) {
    color: rgb(34, 34, 34);
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }
}

.profile__margin {
  margin-left: 16px;
}

.profile__font {
  font-size: 28px;
}

.profile__size {
  display: block;
  height: 56px;
  width: 56px;
  position: relative;
}

.profile__btn {
  font-style: inherit;
  font-variant: inherit;
  color: inherit;
  text-decoration: underline;
  user-select: auto;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  border-radius: 50%;

  &::after {
    border: 0 solid rgb(0, 0, 0);
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.profile {
  background: rgb(221, 221, 221);
  overflow: hidden;
  position: relative;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.profile__img {
  height: 100%;
  width: 100%;
  position: static;
  object-fit: cover;
  vertical-align: bottom;
}

.superhost__position {
  position: absolute;
  right: -8px;
  bottom: 0;
  line-height: 0;
  pointer-events: none;
  z-index: 1;
}

.section__divider {
  border-top-color: rgb(221, 221, 221);
  border-top-width: 1px;
  border-top-style: solid;
}

.highlights__padding {
  padding-top: 32px;
  padding-bottom: 32px;
}

.highlight__flex {
  display: flex;
  margin-bottom: 24px;
}

.highlight__svg__container {
  flex-shrink: 0;
  min-width: 24px;
}

.highlight__description__container {
  margin-left: 16px;
}

.highlight__title {
  color: rgb(34, 34, 34);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

.highlight__description {
  color: rgb(113, 113, 113);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.description__padding {
  padding-top: 32px;
  padding-bottom: 48px;
}

.description__snippet__container {
  line-height: 24px;
  max-height: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show__more__margin {
  margin-top: 16px;
}

.show__more__btn {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  touch-action: manipulation;
}

.show__more__flex {
  display: flex;
  vertical-align: bottom;
  flex-direction: row;
  align-items: center;
}

.show__more__arrow {
  margin-left: 4px;
}

.section__padding {
  padding-top: 48px;
  padding-bottom: 48px;
}

.amenities__heading__padding {
  padding-bottom: 24px;
}

.amenities__heading__container {
  color: rgb(34, 34, 34);
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.section__heading {
  color: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.amenities__list__grid {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% + 12px);
  margin-left: -6px;
  margin-right: -6px;

  @media screen and (min-width: 375px) {
    margin-left: -6px;
    margin-right: -6px;
    width: calc(100% + 12px);
  }

  @media screen and (min-width: 744px) {
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
  }

  @media screen and (min-width: 950px) {
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
  }

  @media screen and (min-width: 1128px) {
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
  }

  @media screen and (min-width: 1440px) {
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
  }
}

.amenity__item__container {
  position: relative;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 6px;
  padding-right: 6px;

  @media screen and (min-width: 375px) {
    padding-left: 6px;
    padding-right: 6px;
  }

  @media screen and (min-width: 744px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media screen and (min-width: 950px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media screen and (min-width: 1128px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.amenity__max__container {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  justify-content: flex-end;
  flex-direction: row-reverse;

  @media screen and (min-width: 744px) {
    justify-content: flex-end;
    flex-direction: row-reverse;
    max-width: 83.3333%;
  }
}

.amenity__svg__container {
  min-width: 24px;
  margin-right: 16px;
  margin-left: 0;

  @media screen and (min-width: 744px) {
    margin-right: 16px;
    margin-left: 0;
  }
}

.reviews__padding {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 0;
  margin-right: 0;

  @media screen and (min-width: 375px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (min-width: 744px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 950px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1128px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.reviews__margin {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1128px;
  width: 100%;
}

.svg__margin {
  display: flex;
  color: bootstrap.$brand-color;
  margin-right: 8px;
}
