@use '../utilities/bootstrap.scss';

.inset__div {
  inset: 105px 0px 0px;
  padding-bottom: 56px;

  @media screen and (min-width: 1128px) {
    padding-bottom: 0px;
  }

  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.stays__container {
  min-height: calc(100vh - 80px);
  position: relative;
  width: 100%;
  z-index: 2;
  background: bootstrap.$default-color;
  transition: transform 850ms cubic-bezier(0.25, 1, 0.5, 1) 0s;

  @media screen and (min-width: 744px) {
    min-width: 547px;
  }

  @media screen and (min-width: 1128px) {
    width: 58vw;
  }

  @media screen and (min-width: 1440px) {
    width: 840px;
  }
}

.filters__bar__padding {
  @media screen and (min-width: 744px) {
    padding-top: 68px;
  }

  @media screen and (min-width: 1128px) {
    padding-top: 0px;
  }
}

.meta__padding {
  padding-left: 24px;
  padding-right: 24px;
  max-width: none;

  @media screen and (min-width: 1128px) {
    margin: 0px auto;
    position: relative;
  }
}

.top__padding {
  padding-top: 32px;

  @media screen and (min-width: 744px) {
    padding-top: 50px;
  }
}

.stays__count {
  font-size: 14px;
  line-height: 18px;
  color: bootstrap.$nero;
  padding-bottom: 8px;
}

.stays__header {
  font-size: 26px;
  line-height: 30px;
  color: bootstrap.$nero;
  font-weight: 800;

  @media screen and(min-width: 744px) {
    font-size: 32px;
    line-height: 36px;
  }
}

.heading {
  font-size: 1em;
  margin: 0px;
}

.listings__container {
  min-height: 400px;
  overflow: hidden;
}

.listings__section {
  &::before {
    content: ' ';
    display: flex;
  }

  &::after {
    content: ' ';
    display: flex;
  }
}

.listings__padding {
  background-color: transparent;
  padding-left: 24px;
  padding-right: 24px;
  max-width: none;

  @media screen and (min-width: 1128px) {
    margin: 0px auto;
    position: relative;
  }
}

.listings__margin {
  @media screen and (min-width: 744px) {
    padding: 0px;
    margin-left: -8px;
    margin-right: -8px;
  }
}

.padding__bottom {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 12px;

  @media screen and (min-width: 744px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.load__more__margin {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.load__more__btn {
  background: none;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0.75em 2em;
  @include bootstrap.btn-border-drawing(
    rgb(230, 30, 77),
    #1ee6b7,
    4px,
    bottom,
    right
  );
}

.map__container {
  inset: -5px 0px 0px;
  display: none;
  position: absolute;
  transition: none 0s ease 0s;

  @media screen and (min-width: 1128px) {
    display: block;
    left: auto;
    width: calc(100% - 58vw);
  }

  @media screen and (min-width: 1440px) {
    width: calc(100% - 840px);
  }
}

.map__position {
  height: 100vh;
  padding-top: 80px;
  margin-top: -80px;
  position: sticky;
  top: 0px;
  width: 100%;
  contain: content;
}

.label__position {
  position: absolute;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
  transform: translate(-179.38px, -40.1604px);
  z-index: 2009;
  display: block;
}

.label__transform {
  transform: translate(calc(-50% + 0px), calc(50% + 0px));
  transition: transform 0.2s ease 0s;
  left: 50%;
  position: absolute;
  bottom: 0px;
  z-index: 0;
  pointer-events: auto;
}

.label__btn {
  color: inherit;
  border: none;
  width: auto;
  font: inherit;
}

.label__scale {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 28px;
  position: relative;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 150ms ease 0s;

  &:hover {
    transform: scale(1.077);
  }
}

.label__padding {
  background-color: bootstrap.$default-color;
  border-radius: 28px;
  box-shadow: rgb(0 0 0 / 4%) 0px 0px 0px 1px, rgb(0 0 0 / 18%) 0px 2px 4px;
  color: bootstrap.$nero;
  height: 28px;
  padding: 0px 8px;
  position: relative;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 250ms cubic-bezier(0, 0, 0.1, 1) 0s;
}

.label__align {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 1;
  transition: opacity 250ms ease 0s;
  white-space: nowrap;
}

.marker__label__content {
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
}
