@use '../utilities/bootstrap.scss';

.inset__div {
  inset: 105px 0px 0px;
  padding-bottom: 56px;

  @media screen and (min-width: 1128px) {
    padding-bottom: 0px;
  }

  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.stays__container {
  min-height: calc(100vh - 80px);
  position: relative;
  width: 100%;
  z-index: 2;
  background: bootstrap.$default-color;
  transition: transform 850ms cubic-bezier(0.25, 1, 0.5, 1) 0s;

  @media screen and (min-width: 744px) {
    min-width: 547px;
  }

  @media screen and (min-width: 1128px) {
    width: 58vw;
  }

  @media screen and (min-width: 1440px) {
    width: 840px;
  }
}

.filters__bar__padding {
  @media screen and (min-width: 744px) {
    padding-top: 68px;
  }

  @media screen and (min-width: 1128px) {
    padding-top: 0px;
  }
}

.meta__padding {
  padding-left: 24px;
  padding-right: 24px;
  max-width: none;

  @media screen and (min-width: 1128px) {
    margin: 0px auto;
    position: relative;
  }
}

.top__padding {
  padding-top: 32px;

  @media screen and (min-width: 744px) {
    padding-top: 50px;
  }
}

.stays__count {
  font-size: 14px;
  line-height: 18px;
  color: bootstrap.$nero;
  padding-bottom: 8px;
}

.stays__header {
  font-size: 26px;
  line-height: 30px;
  color: bootstrap.$nero;
  font-weight: 800;

  @media screen and(min-width: 744px) {
    font-size: 32px;
    line-height: 36px;
  }
}

.heading {
  font-size: 1em;
  margin: 0px;
}

.listings__container {
  min-height: 400px;
  overflow: hidden;
}

.listings__section {
  &::before {
    content: ' ';
    display: flex;
  }

  &::after {
    content: ' ';
    display: flex;
  }
}

.listings__padding {
  background-color: transparent;
  padding-left: 24px;
  padding-right: 24px;
  max-width: none;

  @media screen and (min-width: 1128px) {
    margin: 0px auto;
    position: relative;
  }
}

.listings__margin {
  @media screen and (min-width: 744px) {
    padding: 0px;
    margin-left: -8px;
    margin-right: -8px;
  }
}

.padding__bottom {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 12px;

  @media screen and (min-width: 744px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.load__more__margin {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.load__more__btn {
  background: none;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0.75em 2em;
  @include bootstrap.btn-border-drawing(
    rgb(230, 30, 77),
    #1ee6b7,
    4px,
    bottom,
    right
  );
}

.map__container {
  inset: -5px 0px 0px;
  display: none;
  position: absolute;
  transition: none 0s ease 0s;

  @media screen and (min-width: 1128px) {
    display: block;
    left: auto;
    width: calc(100% - 58vw);
  }

  @media screen and (min-width: 1440px) {
    width: calc(100% - 840px);
  }
}

.map__position {
  height: 100vh;
  padding-top: 80px;
  margin-top: -80px;
  position: sticky;
  top: 0px;
  width: 100%;
  contain: content;
}

.info__window__position {
  transform: translate(calc(-50% + 170.863px), calc(50% + -10.2312px));
  left: 50%;
  position: absolute;
  bottom: 0px;
  z-index: 0;
  pointer-events: auto;
}

.info__window__width {
  margin-bottom: 0px;
  pointer-events: none;
  width: 274px;
}

.info__window__card {
  background-color: bootstrap.$default-color;
  border-radius: 12px;
  //  box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
  color: bootstrap.$nero;
  pointer-events: auto;
  position: relative;
  width: 274px;
}

.info__window__content__padding {
  padding: 16px;
}

.info__window__content__rating {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  display: flex;
  width: 100%;
}

.info__window__content__location {
  margin-bottom: 2px;
  color: bootstrap.$nero;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info__window__content__description {
  display: flex;
  align-items: center;
}

.info__window__content__price {
  margin-top: 6px;
}
