@use '../utilities/bootstrap.scss';

.inset__div {
  inset: 105px 0px 0px;
  padding-bottom: 56px;

  @media screen and (min-width: 1128px) {
    padding-bottom: 0px;
  }

  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.options__bar {
  display: none;

  @media screen and (min-width: 744px) {
    display: block;
  }
}

.options__dimensions {
  background: bootstrap.$default-color;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 80px;
  transition: transform 200ms linear;
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    background: rgba(0, 0, 0, 0.08);
  }
}

.options__padding {
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  transition: opacity 100ms ease-out;
}

.options__margin {
  margin-top: 8px;
  margin-bottom: 8px;
}

.options__container {
  align-items: center;
  background: bootstrap.$default-color;
  display: flex;
  position: relative;
  width: 100%;
  z-index: 4;
  border-bottom: 0px;
  height: 48px;

  @media screen and (min-width: 1128px) {
    padding-right: 0px;
  }
}

.options__flex {
  display: flex;
  align-items: center;
  width: 100%;
}

.options__wrap {
  display: flex;
  height: 48px;
  overflow: hidden;
  flex-flow: wrap;
}

.filters__container {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}

.filters__btn {
  cursor: pointer;
  text-align: center;
  border: 1px solid rgb(221, 221, 221);
  background-color: bootstrap.$default-color;
  outline: none;
  margin: 0px;
  border-radius: 30px;
  color: rgb(34, 34, 34);
  position: relative;
  padding: 10px 16px;
  font-size: 12px;
  line-height: 16px;

  &:hover {
    border-color: rgb(34, 34, 34);
  }
}

.filters__flex {
  display: flex;
  white-space: nowrap;
}

.svg__margin {
  margin-top: 2px;
}

.filters__text {
  font-size: 14px;
  line-height: 18px;
  margin-left: 6px;
  display: none;

  @media screen and (min-width: 950px) {
    display: initial;
  }
}

.stays__container {
  min-height: calc(100vh - 80px);
  position: relative;
  width: 100%;
  z-index: 2;
  background: bootstrap.$default-color;
  transition: transform 850ms cubic-bezier(0.25, 1, 0.5, 1) 0s;

  @media screen and (min-width: 744px) {
    min-width: 547px;
  }

  @media screen and (min-width: 1128px) {
    width: 58vw;
  }
}

.meta__padding {
  padding-left: 24px;
  padding-right: 24px;
  max-width: none;

  @media screen and (min-width: 1128px) {
    margin: 0px auto;
    position: relative;
  }
}

.top__padding {
  padding-top: 32px;

  @media screen and (min-width: 744px) {
    padding-top: 50px;
  }
}

.stays__count {
  font-size: 14px;
  line-height: 18px;
  color: rgb(34, 34, 34);
  padding-bottom: 8px;
}

.stays__header {
  font-size: 26px;
  line-height: 30px;
  color: rgb(34, 34, 34);
  font-weight: 800;

  @media screen and(min-width: 744px) {
    font-size: 32px;
    line-height: 36px;
  }
}

.heading {
  font-size: 1em;
  margin: 0px;
}

.listings__container {
  min-height: 400px;
  overflow: hidden;
}

.listings__section {
  &::before {
    content: ' ';
    display: flex;
  }

  &::after {
    content: ' ';
    display: flex;
  }
}

.listings__padding {
  background-color: transparent;
  padding-left: 24px;
  padding-right: 24px;
  max-width: none;

  @media screen and (min-width: 1128px) {
    margin: 0px auto;
    position: relative;
  }
}

.listings__margin {
  @media screen and (min-width: 744px) {
    padding: 0px;
    margin-left: -8px;
    margin-right: -8px;
  }
}
