$breakpoints: (
  //  'small'  : ( max-width:  20em ),
  'mobile': screen and
    (
      min-width: (
        375px,
      ),
    ),
  'tablet': screen and
    (
      min-width: (
        768px,
      ),
    ),
  'desktop': screen and
    (
      min-width: (
        950px,
      ),
    ),
  //  'wide'    : ( min-width: 75em ),
  //  'height'    : ( min-width: 75em ) and (min-height: 62.5em)
);

@mixin media($name) {
  @if map-has-key($breakpoints, $name) {
    $value: map-get($breakpoints, $name);
    $query: if(type-of($value) == 'string', $value, inspect($value));
    @media #{$query} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin fade-mixin {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate(0, 40%);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
}

@mixin dot-mixin {
  @keyframes dot-loading {
    0%,
    80%,
    100% {
      opacity: 0;
    }
    30%,
    50% {
      opacity: 1;
    }
  }
}

@mixin opacity-mixin {
  @keyframes opacity-appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
