$browser-context: 16;

$sm-height: 488;
$sm-width: 375;
$md-height: 588;
$md-width: 744;
$lg-height: 626;
$lg-width: 1128;

$brand-color: hsl(349, 100%, 61%);
$default-color: hsl(0, 0%, 100%);
$default-gray: hsl(0, 0%, 28%);
$form-txt: hsl(0, 0%, 69%);
$valid-green: hsl(80, 61%, 50%);
$invalid-red: hsl(16, 100%, 50%);
$babu: hsl(175, 100%, 33%);
$arches: hsl(16, 97%, 58%);
$hof: hsl(0, 0%, 28%);
$foggy: hsl(0, 0%, 46%);
$btn-yellow: hsl(50, 78%, 50%);
$nero: hsl(0, 0%, 13%);
$gainsboro: hsl(0, 0%, 86%);
$black: hsl(0, 0%, 0%);
$whitesmoke: hsl(0, 0%, 96%);
$graysmoke: hsl(0, 0%, 92%);
$dimgray: hsl(0, 0%, 44%);
