$browser-context: 16;

$sm-height: 488;
$sm-width: 375;
$md-height: 588;
$md-width: 744;
$lg-height: 626;
$lg-width: 1128;

$brand-color: hsl(349, 100%, 61%);
$default-color: hsl(0, 0%, 100%);
$default-gray: hsl(0, 0%, 28%);
$form-txt: hsl(0, 0%, 69%);
$valid-green: hsl(80, 61%, 50%);
$invalid-red: hsl(16, 100%, 50%);
$babu: hsl(175, 100%, 33%);
$arches: #fc642d;
$hof: #484848;
$foggy: #767676;
$btn-yellow: #e3c21c;
