@use '../utilities/bootstrap.scss';

.guests__menu {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  z-index: 4;
}

.guests__container {
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 1;
  background: bootstrap.$default-color;
  border-radius: 32px;
  box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px;
  margin-top: 12px;
  max-height: calc(100vh - 220px);
  overflow: hidden auto;
  padding: 16px 32px;
  margin-left: -121px;
}

.guests__age {
  color: rgb(34, 34, 34);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 330px;

  &:not(:last-child) {
    border-bottom: 1px solid rgb(235, 235, 235);
  }
}

.guests__group {
  flex-grow: 1;
}

.guests__input {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 104px;
  height: 32px;
  color: rgb(34, 34, 34);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
}

.guests__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.guests__title__big {
  font-size: 26px;
  font-weight: 600;
  line-height: 20px;
}

.guests__variant {
  color: rgb(113, 113, 113);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.guests__minus {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-flex;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(176, 176, 176);
  color: rgb(113, 113, 113);
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  background: bootstrap.$default-color;
  border-radius: 50%;

  &:disabled {
    cursor: not-allowed;
    color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
    background: bootstrap.$default-color;
  }

  &:hover {
    color: #222222;
    border-color: #222222;
    background: bootstrap.$default-color;
  }
}

.guests__count {
  position: relative;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.guests__plus {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-flex;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(176, 176, 176);
  color: rgb(113, 113, 113);
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  background: bootstrap.$default-color;
  border-radius: 50%;

  &:hover {
    color: #222222;
    border-color: #222222;
    background: bootstrap.$default-color;
  }
}

.guests__icon {
  height: 22px;
  width: 22px;
  padding: 5px;
}
