@use '../utilities/bootstrap.scss';

@include bootstrap.fade-mixin;
@include bootstrap.opacity-mixin;
@include bootstrap.skeleton-mixin;

.size__div {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 100%;

  @media screen and (min-width: 744px) {
    width: 100%;
  }

  @media screen and (min-width: 1128px) {
    width: 100%;
  }
}

.border__padding {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 12px;

  @media screen and (min-width: 744px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.card__grid {
  display: grid;
  grid-template-columns: 100%;
  isolation: isolate;
}

.card__area {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 1;
}

.card__area__loading {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  margin: 0px;
  padding-top: 0px;
  height: 100%;
  visibility: visible;
  content-visibility: visible;
  opacity: 1;
  z-index: 2;
}

.card__container {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}

.invisible__link {
  position: absolute;
  top: 0px;
  left: 40%;
  bottom: 0px;
  right: 0px;
  border-radius: 12px;
}

.card__image__container {
  flex-grow: 0;
  flex-shrink: 0;
  height: 200px;
  width: 300px;
}

.card__image__border {
  overflow: hidden;
  position: relative;
  contain: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
}

.card__image__border__loading {
  display: block;
  height: 100%;
  width: 100%;
  background-color: bootstrap.$default-color;
  border-radius: 12px;
}

.card__skeleton {
  animation-play-state: running;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: skeleton-loading;
  animation-timing-function: ease-in-out;
  background-color: currentColor;
  display: block;
  position: relative;
}

.card__image__padding {
  background: bootstrap.$graysmoke;
  position: relative;
  width: 100%;
  z-index: 0;
  padding-top: 66.6%;
}

.card__image__position {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

.card__image__div {
  height: 100%;
  width: 100%;
  white-space: nowrap;
}

.image__controls__position {
  position: absolute;
  pointer-events: none;
  top: 0px;
  height: 100%;
  width: 100%;
}

.image__controls__div {
  background: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
}

.prev__btn__container {
  position: absolute;
  top: 50%;
  pointer-events: auto;
  transform: translateY(-50%);
  left: 8px;
  animation-duration: 0.3s;
  animation-name: fade-in;
  opacity: 1;
  visibility: visible;
}

.prev__btn {
  display: inline-flex;
  border-radius: 50%;
  border: 0px;
  outline: none;
  padding: 0px;
  color: bootstrap.$nero;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent,
    0px 2px 4px rgb(0 0 0 / 18%);
  transition: transform 0.25s ease;
  width: 32px;
  height: 32px;
  z-index: 10;

  &:hover {
    border-color: rgba(0, 0, 0, 0.08);
    background-color: bootstrap.$default-color;
    color: bootstrap.$black;
    box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent,
      0px 6px 16px rgb(0 0 0 / 12%);
    transform: scale(1.04);
  }
}

.next__btn__container {
  position: absolute;
  top: 50%;
  pointer-events: auto;
  transform: translateY(-50%);
  right: 8px;
  animation-duration: 0.3s;
  animation-name: fade-in;
  opacity: 1;
  visibility: visible;
}

.next__btn {
  display: inline-flex;
  border-radius: 50%;
  border: 0px;
  outline: none;
  padding: 0px;
  color: bootstrap.$nero;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent,
    0px 2px 4px rgb(0 0 0 / 18%);
  transition: transform 0.25s ease;
  width: 32px;
  height: 32px;
  z-index: 10;

  &:hover {
    border-color: rgba(0, 0, 0, 0.08);
    background-color: bootstrap.$default-color;
    color: bootstrap.$black;
    box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent,
      0px 6px 16px rgb(0 0 0 / 12%);
    transform: scale(1.04);
  }
}

.card__content__margin {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 200px;
  margin-left: 16px;
}

.property__type__skeleton {
  display: block;
  height: 18px;
  width: 40%;
  background-color: bootstrap.$default-color;
  border-radius: 10px;
}

.title__skeleton {
  display: block;
  height: 24px;
  width: 90%;
  background-color: bootstrap.$default-color;
  border-radius: 10px;
}

.card__header__flex {
  display: flex;
  align-items: flex-start;
}

.text__margin {
  flex: 1;
  margin-right: 16px;
}

.property__type {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 4px;
}

.property__type__text {
  color: bootstrap.$dimgray;
  flex: 1;
  line-height: 18px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  animation-duration: 0.3s;
  animation-name: opacity-appear;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

.card__title__container {
  display: flex;
  align-items: center;
}

.card__title {
  line-height: 24px;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heart__btn {
  display: inline-block;
  border-radius: 50%;
  border: none;
  color: bootstrap.$nero;
  touch-action: manipulation;
  position: relative;
  transition: transform 0.25s ease 0s;

  &:hover {
    color: bootstrap.$black;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;

    &:hover {
      background: bootstrap.$whitesmoke;
    }
  }
}

.card__divider__small {
  border-top: 1px solid bootstrap.$gainsboro;
  margin-top: 11px;
  width: 32px;
}

.card__description {
  color: bootstrap.$dimgray;
  font-weight: 400;
  min-height: 18px;
  font-size: 14px;
  line-height: 18px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.floor__plan__skeleton {
  display: block;
  height: 18px;
  width: 50%;
  background-color: bootstrap.$default-color;
  border-radius: 10px;
}

.amenities__skeleton {
  display: block;
  height: 18px;
  width: 45%;
  background-color: bootstrap.$default-color;
  border-radius: 10px;
}

.card__footer {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  margin-top: -10px;
}

.reviews__skeleton {
  display: block;
  height: 18px;
  width: 93px;
  background-color: bootstrap.$default-color;
}

.reviews__container {
  flex: 1 0 auto;
  margin-right: 12px;
}

.price__container {
  margin-left: auto;
}

.card__divider__margin {
  margin-top: 24px;
  margin-bottom: 4px;
}

.card__divider {
  border-bottom-color: bootstrap.$graysmoke;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
