@use '../utilities/bootstrap.scss';

@include bootstrap.opacity-mixin;

.size__div {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 100%;

  @media screen and (min-width: 744px) {
    width: 100%;
  }

  @media screen and (min-width: 1128px) {
    width: 100%;
  }
}

.border__padding {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 12px;

  @media screen and (min-width: 744px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.card__grid {
  display: grid;
  grid-template-columns: 100%;
  isolation: isolate;
}

.card__area {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 1;
}

.card__container {
  display: flex;
  height: 100%;
  position: relative;
  z-index: 1;
}

.invisible__link {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 12px;
}

.card__image__container {
  flex-grow: 0;
  flex-shrink: 0;
  height: 200px;
  width: 300px;
}

.card__image__border {
  overflow: hidden;
  position: relative;
  contain: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
}

.card__image__padding {
  background: rgb(235, 235, 235);
  position: relative;
  width: 100%;
  z-index: 0;
  padding-top: 66.6%;
}

.card__image__position {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

.image__controls__container {
  pointer-events: none;
  top: 0px;
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.image__controls__hover {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.image__controls__position {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
}

.previous__btn__container {
  position: absolute;
  display: block;
  top: 50%;
  pointer-events: auto;
  transform: translateY(-50%);
  left: 8px;
}

.previous__btn__hover {
  position: absolute;
  display: block;
  top: 50%;
  pointer-events: auto;
  transform: translateY(-50%);
  left: 8px;
  animation-duration: 0.3s;
  animation-name: opacity-appear;
  opacity: 1;
  visibility: visible;
}

.navigation__btn {
  display: inline-flex;
  border-radius: 50%;
  border: 0px;
  outline: none;
  margin: 0px;
  padding: 0px;
  color: #222222;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent,
    0px 2px 4px rgb(0 0 0 / 18%);
  transition: transform 0.25s ease;
  width: 32px;
  height: 32px;
  z-index: 0;

  &:hover {
    border-color: rgba(0, 0, 0, 0.08);
    background-color: bootstrap.$default-color;
    color: #000000;
    box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent,
      0px 6px 16px rgb(0 0 0 / 12%);
    transform: scale(1.04);
  }
}

.next__btn__container {
  position: absolute;
  display: block;
  top: 50%;
  pointer-events: auto;
  transform: translateY(-50%);
  right: 8px;
}

.next__btn__hover {
  position: absolute;
  display: block;
  top: 50%;
  pointer-events: auto;
  transform: translateY(-50%);
  right: 8px;
  animation-duration: 0.3s;
  animation-name: opacity-appear;
  opacity: 1;
  visibility: visible;
}

.card__image__link {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.card__image__div {
  height: 100%;
  width: 100%;
  white-space: nowrap;
}

.image__dots__container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  white-space: nowrap;
}

.image__dots {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.image__dots__overflow {
  display: flex;
  overflow: hidden;
  padding-bottom: 12px;
  max-width: 55px;
}

.image__dots__transform {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.image__dots__dot {
  background: bootstrap.$default-color;
  border-radius: 50%;
  height: 6px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  min-width: 6px;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  width: 6px;
  opacity: 0.6;
}

#selected__dot {
  opacity: 1;
}

.image__dots__dot:nth-child(1) {
  transform: scale(1);
}

.image__dots__dot:nth-child(2) {
  transform: scale(1);
}

.image__dots__dot:nth-child(3) {
  transform: scale(1);
}

.image__dots__dot:nth-child(4) {
  transform: scale(0.83);
}

.image__dots__dot:nth-child(5) {
  transform: scale(0.66);
}

.card__content__margin {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 200px;
  margin-left: 16px;
}

.card__header__flex {
  display: flex;
  align-items: flex-start;
}

.text__margin {
  flex: 1;
  margin-right: 16px;
}

.property__type {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 4px;
}

.property__type__text {
  color: #717171;
  flex: 1;
  line-height: 18px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  animation-duration: 0.3s;
  animation-name: opacity-appear;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

.card__title__container {
  display: flex;
  align-items: center;
}

.card__title {
  line-height: 24px;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heart__btn {
  display: inline-block;
  border-radius: 50%;
  border: none;
  color: rgb(34, 34, 34);
  touch-action: manipulation;
  position: relative;
  transition: transform 0.25s ease 0s;

  &:hover {
    color: rgb(0, 0, 0);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;

    &:hover {
      background: rgb(247, 247, 247);
    }
  }
}

.card__divider__small {
  border-top: 1px solid #dddddd;
  margin-top: 11px;
  width: 32px;
}

.card__description {
  color: #717171;
  font-weight: 400;
  min-height: 18px;
  font-size: 14px;
  line-height: 18px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__footer {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  margin-top: -10px;
}

.reviews__container {
  flex: 1 0 auto;
  margin-right: 12px;
}

.reviews__flex {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
}

.review__star {
  display: flex;
  align-items: center;
  margin-right: 4px;
  color: #ff385c;
}

.review__avg {
  color: #222222;
  font-weight: 600;
}

.review__count {
  color: #717171;
}

.price__container {
  margin-left: auto;
}

.price__align {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.price__flex {
  color: #222222;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.price__value {
  font-weight: 800;
  padding-right: 4px;
}

.price__night {
  font-weight: 400;
  white-space: nowrap;
}

.card__divider__margin {
  margin-top: 24px;
  margin-bottom: 4px;
}

.card__divider {
  border-bottom-color: #ebebeb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
