@use '../utilities/bootstrap.scss';

.UtilsNav__menu__link {
  color: #222222;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  padding: 12px 16px;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: #ebebeb;
  }
}

#thin {
  font-weight: 400;
}

.UtilsNav__menu__notif {
  background-color: bootstrap.$brand-color;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  left: 1px;
  margin-right: -6px;
  position: relative;
  right: 6px;
  top: -7px;
  vertical-align: top;
  width: 6px;
}
